body{
    margin: 0px;
    padding:0px;
    height: 5000px;
}
.right-pos ul 
{
    margin: 0px;
    padding: 0px;
}
.right-pos ul li
{
    list-style-type: none;
    display: inline-block;
    margin-right: 15px;
}

.right-pos ul li a
{
   text-decoration: none;
   font-family: Tahoma;
   color: grey;
   font-size: 15px;
}
.right-pos button{
    background-color: #629dd1;
    border: none;
    padding: 8px 20px;
    border-radius: 7px;
    text-transform: uppercase;
    color: white;
}
 
.left-pos{
    float: left;
    margin-left: 20px;
    margin-top: 8px;
}
.right-pos{
    float: right;
    margin-right: 20px;
}
#navbar .contain{
    height: 50px; 
    line-height: 50px;
}
.clearfix{
    clear: both;
}

#slider{
    height: 400px;
    background-image: url('../images/banner.jpg');
    background-size: cover;

}
#slider .content{
    padding-top: 70px;
    text-align: center;
}
#slider .content h1{
    letter-spacing: 3px; 
    font-size: 32px;
}
#slider .content h1, h3{
    color: lightgrey;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
#slider .content button{
    width: 200px;
    height: 45px;
    border-radius: 7px;
    border: none;
    outline: none; 
    margin: 20px 5px;
    color: white;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
#slider .content .sign-up{
    background-color: #629dd1
}
#slider .content .learn-more{
    background-color: transparent;
    border: 1px solid darkgrey;
}
#service h1, h2{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 70px;
}
#service h2{
    color: darkgrey;
    margin-top: 20px;
    margin-bottom: 100px;
}
#service .item{
    box-sizing: border-box; 
    width: 27.5%;
    border:1px solid darkgrey;
    border-radius: 7px;
    padding: 0px 20px;
    padding-bottom: 30px;
    float: left;
    margin: 0px 30px;
}
#service .item .icon-contain{
    width: 100px;
    height: 100px;
    border: 1px solid darkgrey;
    border-radius: 100%;
    margin: 30px auto;
}
#service .item .icon-contain .icon{
    width: 80%;
    height: 80%;
    background-color: #629dd1;
    border-radius: 100%;
    margin: 10px auto;
    text-align: center; 
    line-height: 90px;
}
#service .item .icon-contain .icon i{
    font-size: 30px;
    color: white;
}
#service .item h3, p{
    color: #666f77;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 1100px; 
    margin: 0px  auto;
}

#comodo{
    width: 100%;
    background-color: #192024;
    margin-top: 80px;
    padding: 50px 0px;

}
#comodo .text-contain{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


#comodo .text-contain h1{
    color: white;
    letter-spacing: 4px;
}

#comodo .text-contain h3{
    font-size: 24px;
    color: darkgray;
}
#comodo .img-item{
    width: 45%; 
    float: left;
    margin: 0px 23px; 
}
#comodo .img-item img{
    border-radius: 10px;
    width: 100%;
}
#comodo .img-item p{
    color: whitesmoke;
    font-size: 15px;
    
}
#comodo .img-item #btn{
    display: block;
    border: none;
    border: 1px solid darkgray;
    background: transparent;
    color: whitesmoke;
    height: 40px; 
    width:180px;
    border-radius: 5px;
    margin: 30px auto;
}
#mollis .mollisleft {
    width: 55%;
    margin-left: 50px;
    float: left;
}
#mollis .mollisleft img{
    width: 100%;
    border-radius: 10px;
}
#mollis .mollisleft h3{
    float: left;
    font-size: 20px;
    letter-spacing: 3px;
    margin: 50px 0px 30px 0px;
    color: #666f77;
}
#mollis .mollisleft p{
    text-align: left;
}
#mollis .mollisright{
    float:right;
    width: 300px;
}
#mollis .mollisright h3{
    float: left;
    margin: 50px 0px 30px 0px;
}
#mollis .mollisright p{
    text-align: left;
}